<body class="landing_body">
    <header class="landing_header">

        <div class="login">
            <%= link_to "Sign up" %> |
            <%= link_to "Log in" %>
            <i class="material-icons">verified_user</i>
        </div>
        <h4>
            <i class="material-icons">directions_car</i>
            Carthusiast
        </h4>


    </header>

    <div>
        <div id="landing_img">
            <%= image_tag("car_landing.png") %>
        </div>

        <div class="landing_motto">
            <p>The new way for gearheads to</p>
            <p><strong>CONNECT</strong></p>
        </div>
    </div>

</body>

<footer>

</footer>

<p>Find me in app/views/welcome/index.html.erb</p>
