<header>

    <h3>
        <i class="material-icons">vertical_align_top</i>
        TD
        <i class="material-icons">vertical_align_bottom</i>
    </h3>

    <div class="login">
        <%= link_to "Sign up" %> |
        <%= link_to "Log in" %>
        <i class="material-icons">verified_user</i>
    </div>

</header>

<navbar>
<!--  -->
</navbar>

<body class="landing_body">
    <div>
        <h3>The new way to</h3>
        <h3><strong>Buy & Sell</strong></h3>
    </div>

</body>

<footer>

</footer>

<p>Find me in app/views/welcome/index.html.erb</p>
