// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing_body {
    border: 2px solid blue;
}

.landing_header {
    border: 2px solid red;
}

.login {
     float: right;
 }

 .landing_motto {
     text-align: center;
 }

 img {
     display: block;
     float: right;
     width: 50%;
 }

 .mdc-button {
     background-color: #229;
 }
